Repository nanotaboada/Dotnet.Samples.AspNetCore.WebApi: changes, and which Codecov flags are due for each by the changed paths.
All: Controllers, Services

feat(tests): switch to XPlat Code Coverage (coverlet.collector) for coverage report generation
  .github/workflows/dotnet.yml
  .runsettings
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Dotnet.Samples.AspNetCore.WebApi.Tests.csproj
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/packages.lock.json
Due: none

chore(ci): adjust pattern matching for ignores to align with Codecov processing
  codecov.yml
Due: none

refactor: use C# 12 primary constructors for injected deps
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/Repository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Services/PlayerService.cs
Due: Controllers, Services

refactor(services): move MemoryCacheEntryOptions init to static field
  src/Dotnet.Samples.AspNetCore.WebApi/Services/PlayerService.cs
Due: Services

chore(controllers): enrich log events
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
Due: Controllers

refactor(tests): more idiomatic Fake methods and result assertions
  src/Dotnet.Samples.AspNetCore.WebApi/Data/PlayerData.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/ApplicationBuilderExtensions.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/DbContextUtils.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Unit/PlayerControllerTests.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Unit/PlayerServiceTests.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Utilities/DatabaseFakes.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Utilities/PlayerFakes.cs
Due: none

refactor!: use GUID internally and expose SquadNumber as public identifier
  .codacy.yml
  codecov.yml
  scripts/run-migrations-and-copy-database.sh
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/IPlayerRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/IRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/PlayerData.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/PlayerDbContext.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/PlayerRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/Repository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Data/players-sqlite3.db
  src/Dotnet.Samples.AspNetCore.WebApi/Dotnet.Samples.AspNetCore.WebApi.csproj
  src/Dotnet.Samples.AspNetCore.WebApi/Migrations/20250414191223_InitialCreate.Designer.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Migrations/20250414191223_InitialCreate.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Migrations/20250414195445_SeedStarting11.Designer.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Migrations/20250414195445_SeedStarting11.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Models/Player.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Models/PlayerRequestModel.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Models/PlayerResponseModel.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Program.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Services/IPlayerService.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Services/PlayerService.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/ApplicationBuilderExtensions.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/DbContextUtils.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Validators/PlayerRequestModelValidator.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Unit/PlayerControllerTests.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Unit/PlayerServiceTests.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Utilities/PlayerFakes.cs
Due: Controllers, Services

chore(controllers): adjust route names
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
Due: Controllers

refactor(data): drop legacy data seeding utilities, replaced by migrations
  src/Dotnet.Samples.AspNetCore.WebApi/Migrations/20250414195445_SeedStarting11.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Program.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/ApplicationBuilderExtensions.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/DbContextUtils.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Utilities/PlayerData.cs
Due: none

chore(deps): bump Swashbuckle.AspNetCore from 8.1.0 to 8.1.1
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/packages.lock.json
Due: none

chore(ci): adjust Dependabot groups
  .github/dependabot.yml
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Dotnet.Samples.AspNetCore.WebApi.Tests.csproj
Due: none

refactor(controllers)!: adjust routes to match public identifier
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
Due: Controllers

feat: extract Swagger options into dedicated SwaggerGenDefaults class
  .codacy.yml
  README.md
  assets/images/Swagger.png
  codecov.yml
  docs/Swagger.png
  src/Dotnet.Samples.AspNetCore.WebApi/Configurations/AuthorizeCheckOperationFilter.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Configurations/SwaggerDocOptions.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Program.cs
Due: none

fix(controllers): adjust log messages to match routes
  src/Dotnet.Samples.AspNetCore.WebApi/Controllers/PlayerController.cs
Due: Controllers

chore: move repositories to dedicated namespace
  .codacy.yml
  codecov.yml
  src/Dotnet.Samples.AspNetCore.WebApi/Program.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Repositories/IPlayerRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Repositories/IRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Repositories/PlayerRepository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Repositories/Repository.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Services/PlayerService.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Validators/PlayerRequestModelValidator.cs
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Utilities/PlayerMocks.cs
Due: Services

chore: drop legacy launchSettings.json in favor of launch.json
  src/Dotnet.Samples.AspNetCore.WebApi/Properties/launchSettings.json
Due: none

chore: cleanup unused preLaunchTask from tasks.json
  .vscode/tasks.json
Due: none

Fixed nullreference exception for DateOfBirth in PlayerMappingProfile.cs
  src/Dotnet.Samples.AspNetCore.WebApi/Mappings/PlayerMappingProfile.cs
Due: none

chore: add project structure diagram
  README.md
  assets/images/Structure.svg
Due: none

chore(ci): lint commit messages
  .github/workflows/dotnet.yml
Due: none

chore(ci): switch to default setup for CodeQL scanning
  .github/workflows/codacy.yml
Due: none

chore: adjust structure diagram
  assets/images/Structure.svg
Due: none

fix(ci): set workflow permissions (contents: read)
  .github/workflows/dotnet.yml
Due: none

chore: add code of conduct and contributing guidelines
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: none

chore(ci): add commitlint config rules
  commitlint.config.mjs
Due: none

chore(ci): update ignores for Dependabot-style commits
  commitlint.config.mjs
Due: none

feat: add multi-stage Dockerfile for building and running app
  Dockerfile
  README.md
Due: none

chore: add .dockerignore to optimize build context
  .dockerignore
Due: none

fix: missing fenced code block
  README.md
Due: none

feat(ci): update workflow to build and publish Docker image to GHCR
  .github/workflows/dotnet.yml
Due: none

fix(ci): add PACKAGE_NAME env variable with kebab-cased container name for GHCR
  .github/workflows/dotnet.yml
Due: none

chore(ci): limit container job to master branch pushes
  .github/workflows/dotnet.yml
Due: none

feat(container): add Docker Compose support with persistent SQLite volume
  .gitignore
  Dockerfile
  README.md
  docker-compose.yml
  scripts/entrypoint.sh
  scripts/healthcheck.sh
  src/Dotnet.Samples.AspNetCore.WebApi/Dotnet.Samples.AspNetCore.WebApi.csproj
  src/Dotnet.Samples.AspNetCore.WebApi/Program.cs
  src/Dotnet.Samples.AspNetCore.WebApi/storage/players-sqlite3.db
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/packages.lock.json
Due: none

chore(deps): configure Dependabot to use conventional commits
  .github/dependabot.yml
Due: none

chore(ci): pin GitHub Actions to specific versions
  .github/workflows/dotnet.yml
Due: none

chore(container): rename Docker Compose file to preferred canonical form
  compose.yml
Due: none

chore(container): simplify creation of dynamically allocated system user
  Dockerfile
Due: none

chore(container): adjust health check script defaults
  scripts/healthcheck.sh
Due: none

chore(container): adjust COPY commands to include trailing slashes
  Dockerfile
  scripts/entrypoint.sh
Due: none

chore: reduce publish output by setting SatelliteResourceLanguages to en-US
  src/Dotnet.Samples.AspNetCore.WebApi/Dotnet.Samples.AspNetCore.WebApi.csproj
  test/Dotnet.Samples.AspNetCore.WebApi.Tests/Dotnet.Samples.AspNetCore.WebApi.Tests.csproj
Due: none

Path conditions:
  Controllers: any of: src/Dotnet.Samples.AspNetCore.WebApi/Controllers/, but not: **/*.sln, **/*.csproj, **/*.json, **/*.yml, **/*.png, src/**/Data/**/*, src/**/Enums/**/*, src/**/Mappings/**/*, src/**/Migrations/**/*, src/**/Models/**/*, src/**/Properties/**/*, src/**/Utilities/**/*, src/**/Validators/**/*, test, **/Program.cs, **/.gitignore, **/LICENSE, **/README.md
  Services: any of: src/Dotnet.Samples.AspNetCore.WebApi/Services/, but not: **/*.sln, **/*.csproj, **/*.json, **/*.yml, **/*.png, src/**/Data/**/*, src/**/Enums/**/*, src/**/Mappings/**/*, src/**/Migrations/**/*, src/**/Models/**/*, src/**/Properties/**/*, src/**/Utilities/**/*, src/**/Validators/**/*, test, **/Program.cs, **/.gitignore, **/LICENSE, **/README.md
